.view.home
    .header-container.home
        .header-title-wrap
            .cover
            h1(class='header big first') Sam
            h1(class='header big last') Craig
        .header-info-wrap
            .cover
            h2(class='header info')
                | Full Stack Developer
                strong  /
                |  Node
                strong  /
                |  Angular
.logo-big
    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x="0px" y="0px" width="318px"
    height="395px" viewBox="-158.5 595 318 395" enable-background="new -158.5 595 318 395", xml:space='preserve' shape-rendering="geometricPrecision")
        linearGradient#blue-gradient(gradientUnits="userSpaceOnUse" x1="-168.5166" y1="837.7881" x2="169.5169" y2="747.2123")
            stop(offset="0" stop-color="#2D2E83")
            stop(offset="1" stop-color="#57beff")
        path.sc-internal(stroke="url(#blue-gradient)" d="M-73.01,820.561v48.619L0.5,900.383" +
        "l73.51-31.203v-48.619l-147.02-56.129v-48.619L0.5,684.609l73.51,31.203v48.619h60.533v-88.425L0.5,619.109l-134.044,56.9" +
        "l0,232.984L0.5,965.891l134.043-56.9v-88.421")
        path.sc-external(d="M-56.5,820.561h-31.353v58.942L0.5,917.007l88.873-37.724V810" +
        "l-147.539-57v-27.452L0.5,700.646l58.666,24.902V778h89.667V666.555L0.5,603.591l-148.341,62.967v251.908L0.496,981.432" +
        "l148.337-62.966v-97.963h-29.687v78.392L0.5,949.257l-118.634-50.357V686.094l118.63-50.355l118.722,50.395v65.703H89.667v-46.167" +
        "L0.496,667.818l-88.984,37.771V775L59.5,831v28.503l-59,25.044l-58.667-25.044")