.work-wrapper.ng-cloak
    .work-container
        .work-list
            a.work-panel.timer(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("dist/images/timer.small.png")' href='https://github.com/samc21/Timergg')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Timer.gg
                    h2 Timing interface for League of Legends
                    span Check it out
            a.work-panel.libra.development(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("dist/images/libra.small.png")')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Libra
                    h2 On demand library delivery service
                    span In development
            a.work-panel.cherry.development(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("dist/images/cherry.small.png")')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Cherry
                    h2 Underground streetwear clothing brand
                    span In development