.work-wrapper.v.normal.ng-cloak
    .work-container
        ul.work-list
            li.work-panel.timer(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("images/work/timer.png")')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Timer.gg
                    h2 Timing interface for League of Legends
            li.work-panel.libra(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("images/work/libra.png")')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Libra
                    h2 On demand library delivery service
            li.work-panel.cherry(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("images/work/cherry.png")')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Cherry
                    h2 Underground streetwear clothing brand